:root {
--main-bg: #131313;
--box-bg: #232323;
--name-color: #f8f8f8;
--card-bg-text: #ffffff;

}

body {
position: absolute;
top: 5%;
left: 5%;
justify-content: center;
align-items: center;
background: var(--main-bg);
}
  
.coords {
    display: none;
}


.startcontainer {
    width: 6em;
    height: 6em;
    position: absolute;
  }
  .startbutton {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #090909;
    background-color: transparent;
    background-image: linear-gradient(145deg, #171717, #444245);
    box-sizing: border-box;
    box-shadow: inset 2px 2px 0 #7d7c7e, inset -2px -2px 0px #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .startcontainer input {
    display: none;
  }
  
  .startbutton::before {
    position: absolute;
    display: flex;
    content: "";
    width: 6.25em;
    height: 6.25em;
    border-radius: inherit;
    background-color: transparent;
    background-image: linear-gradient(145deg, #262626, #606060);
    z-index: -1;
    box-shadow: 11px 11px 22px #0e4d6b, -11px -11px 22px #525252;
  }
  
  .startbutton .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  
  .startbutton .icon svg {
    height: 100%;
    width: 100%;
    fill: #a5a5a5;
  }
  
  .startcontainer input:checked + .startbutton {
    box-shadow: inset -2px -2px 0 #5e5e5e, inset 2px 2px 0 #1c1c1c;
    border: 4px solid rgba(14, 93, 129, 0.37);
    animation: animeBorder 0.6s linear alternate-reverse infinite;
  }
  
  .startcontainer input:checked + .startbutton .icon svg {
    fill: rgb(44, 90, 216);
    animation: animeFill 0.6s linear alternate-reverse infinite;
  }
  
  @keyframes animeFill {
    to {
      fill: rgba(77, 124, 255, 0.642);
    }
  }
  @keyframes animeBorder {
    to {
      border-color: rgba(255, 255, 255, 0.164);
    }
  }


/* ---------------------------------------------------------------------------------- */


  .btn-conteiner-left {
      display: flex;
    --color-text: #9ee5fa;
    --color-background: #353535;
    --color-outline: #9ee5fa80;
    --color-shadow: #00000080;
    transform: rotate(180deg);

  }
  
  .btn-content-left {
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    padding: 6px 6px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content-left:hover,
  .btn-content-left:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content-left .icon-arrow {
    transition: 0.5s;
    margin-left: 0px;
    transform: scale(0.6);
  }
  
  .btn-content-left:hover .icon-arrow {
    transition: 0.5s;
    margin-left: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
  
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content-left:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content-left:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content-left:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: #9ee5fa;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content-left {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content-left {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  


/* ---------------------------------------------------------------------------------------------------------------- */
 
  .btn-conteiner-right {
    display: flex;
  --color-text: #9ee5fa;
  --color-background: #353535;
  --color-outline: #9ee5fa80;
  --color-shadow: #00000080;
}

.btn-content-right {
  position: relative;
  top: 20rem;
  left: 50rem;
  align-items: center;
  padding: 6px 6px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content-right:hover,
.btn-content-right:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content-right .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content-right:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content-right:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content-right:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content-right:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: #9ee5fa;
  }
}

/* Button animations */
@-webkit-keyframes btn-content-right {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content-right {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}



/* ---------------------------------------------------------------------------------------------------------------- */
 
.btn-conteiner-down {
  display: flex;
--color-text: #9ee5fa;
--color-background: #353535;
--color-outline: #9ee5fa80;
--color-shadow: #00000080;
transform: rotate(90deg);
}

.btn-content-down {
position: relative;
top: 20rem;
left: 50rem;
align-items: center;
padding: 6px 6px;
text-decoration: none;
font-family: "Poppins", sans-serif;
font-size: 25px;
color: var(--color-text);
background: var(--color-background);
transition: 1s;
border-radius: 100px;
box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content-down:hover,
.btn-content-down:focus {
transition: 0.5s;
-webkit-animation: btn-content 1s;
animation: btn-content 1s;
outline: 0.1em solid transparent;
outline-offset: 0.2em;
box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content-down .icon-arrow {
transition: 0.5s;
margin-right: 0px;
transform: scale(0.6);
}

.btn-content-down:hover .icon-arrow {
transition: 0.5s;
margin-right: 25px;
}

.icon-arrow {
width: 20px;
margin-left: 15px;
position: relative;
top: 6%;
}

/* SVG */
#arrow-icon-one {
transition: 0.4s;
transform: translateX(-60%);
}

#arrow-icon-two {
transition: 0.5s;
transform: translateX(-30%);
}

.btn-content-down:hover #arrow-icon-three {
animation: color_anim 1s infinite 0.2s;
}

.btn-content-down:hover #arrow-icon-one {
transform: translateX(0%);
animation: color_anim 1s infinite 0.6s;
}

.btn-content-down:hover #arrow-icon-two {
transform: translateX(0%);
animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
0% {
  fill: white;
}

50% {
  fill: var(--color-background);
}

100% {
  fill: #9ee5fa;
}
}

/* Button animations */
@-webkit-keyframes btn-content-down {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}

@keyframes btn-content-down {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}




/* ---------------------------------------------------------------------------------------------------------------- */
 
.btn-conteiner-up {
  display: flex;
--color-text: #9ee5fa;
--color-background: #353535;
--color-outline: #9ee5fa80;
--color-shadow: #00000080;
}

.btn-content-up {
position: relative;
top: 20rem;
left: 50rem;
align-items: center;
padding: 6px 6px;
text-decoration: none;
font-family: "Poppins", sans-serif;
font-size: 25px;
color: var(--color-text);
background: var(--color-background);
transition: 1s;
border-radius: 100px;
box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content-up:hover,
.btn-content-up:focus {
transition: 0.5s;
-webkit-animation: btn-content 1s;
animation: btn-content 1s;
outline: 0.1em solid transparent;
outline-offset: 0.2em;
box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content-up .icon-arrow {
transition: 0.5s;
margin-right: 0px;
transform: scale(0.6);
}

.btn-content-up:hover .icon-arrow {
transition: 0.5s;
margin-right: 25px;
}

.icon-arrow {
width: 20px;
margin-left: 15px;
position: relative;
top: 6%;
}

/* SVG */
#arrow-icon-one {
transition: 0.4s;
transform: translateX(-60%);
}

#arrow-icon-two {
transition: 0.5s;
transform: translateX(-30%);
}

.btn-content-up:hover #arrow-icon-three {
animation: color_anim 1s infinite 0.2s;
}

.btn-content-up:hover #arrow-icon-one {
transform: translateX(0%);
animation: color_anim 1s infinite 0.6s;
}

.btn-content-up:hover #arrow-icon-two {
transform: translateX(0%);
animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
0% {
  fill: white;
}

50% {
  fill: var(--color-background);
}

100% {
  fill: #9ee5fa;
}
}

/* Button animations */
@-webkit-keyframes btn-content-up {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}

@keyframes btn-content-up {
0% {
  outline: 0.2em solid var(--color-background);
  outline-offset: 0;
}
}