body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
    height: 120vh;
    position: relative;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .emergency-stop {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .arrow-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    position: relative;
  }
  
  .arrow {
    font-size: 150px;
    border: none;
    background-color: transparent;
    color: #fff;
    margin: 0;
    position: relative;
  }
  
  .arrow#leftArrow {
    top: 18%;
    right: 5%;
  }
  
  .arrow#forwardArrow {
    bottom: 18%;
  }
  
  .arrow#backwardArrow {
    bottom: 20%;
  }
  
  .arrow#rightArrow {
    bottom: 57%;
    left: 5%;
  }
  
  .controls {
    display: flex;
    align-items: left;
    margin-top: 0;
  }
  
  .ready-switch {
    position: relative;
    bottom: 910px;
  }
  
  .ready-switch input[type="checkbox"] {
    display: none;
  }
  
  .ready-switch label {
    display: block;
    width: 120px;
    height: 60px;
    background-color: #888;
    border-radius: 30px;
    position: relative;
    top: -51%;
    left: 722%;
    cursor: pointer;
  }
  
  .ready-switch input[type="checkbox"]:checked + label {
    background-color: green;
  }
  
  .ready-switch label::before {
    content: '';
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }
  
  .ready-switch input[type="checkbox"]:checked + label::before {
    transform: translateX(60px);
  }

  
  .ready-switch label::after {
    content: "Ready";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; /* Adjust the position of the text as needed */
    color: white;
  }

  .vertical-slider input[type="range"] {
    position: relative;
    width: 200px;
    bottom: 250px;
    left: 700px;
  }
  
  
  .acceleration-label {
    position: relative;
    bottom: 220px;
    left: 510px;
    text-align: bottom;
  }
  